<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <profiles>
      <profile>
      <repositories>
        <repository>
          <snapshots>
            <updatePolicy>false</updatePolicy>
          </snapshots>
          <id>maven-central-repository</id>
          <name>Maven Central Repository</name>
          <url>https://repo1.maven.org/maven2</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <releases />
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>maven-central-plugin-repository</id>
          <url>https://repo1.maven.org/maven2</url>
        </pluginRepository>
      </pluginRepositories>
      <id>maven-central-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <updatePolicy>false</updatePolicy>
          </snapshots>
          <id>redhat-ga-repository</id>
          <name>Red Hat GA Repository</name>
          <url>https://maven.repository.redhat.com/ga</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <releases />
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>redhat-ga-plugin-repository</id>
          <url>https://maven.repository.redhat.com/ga</url>
        </pluginRepository>
      </pluginRepositories>
      <id>redhat-ga-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <updatePolicy>false</updatePolicy>
          </snapshots>
          <id>redhat-ea-repository</id>
          <name>Red Hat EA Repository</name>
          <url>https://maven.repository.redhat.com/earlyaccess/all</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <releases />
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>redhat-ea-plugin-repository</id>
          <url>https://maven.repository.redhat.com/earlyaccess/all</url>
        </pluginRepository>
      </pluginRepositories>
      <id>redhat-ea-repository</id>
    </profile>
   <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>always</updatePolicy>
          </snapshots>
          <id>jboss-public-repository-group</id>
          <name>JBoss Public Maven Repository Group</name>
          <url>https://repository.jboss.org/nexus/content/groups/public</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <releases />
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>jboss-public-plugin-repository-group</id>
          <url>https://repository.jboss.org/nexus/content/groups/public</url>
        </pluginRepository>
      </pluginRepositories>
      <id>jboss-public-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>always</updatePolicy>
          </snapshots>
          <id>fusesouce-public-repository-group</id>
          <name>FuseSource Public Maven Repository Group</name>
          <url>https://repository.jboss.org/nexus/content/groups/fs-public/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>always</updatePolicy>
          </snapshots>
          <id>fusesouce-public-plugin-repository-group</id>
          <name>FuseSource Public Maven Repository Group</name>
          <url>https://repository.jboss.org/nexus/content/groups/fs-public/</url>
        </pluginRepository>
      </pluginRepositories>
      <id>fuse-public-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases />
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>redhat-techpreview-all-repository</id>
          <url>http://maven.repository.redhat.com/techpreview/all/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <releases />
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>redhat-techpreview-all-repository</id>
          <url>http://maven.repository.redhat.com/techpreview/all/</url>
        </pluginRepository>
      </pluginRepositories>
      <id>redhat-techpreview-repository</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>jboss-public-repository</activeProfile>
    <activeProfile>maven-central-repository</activeProfile>
    <activeProfile>redhat-ga-repository</activeProfile>
    <activeProfile>redhat-ea-repository</activeProfile>    
  </activeProfiles>
  <pluginGroups>
    <pluginGroup>org.apache.maven.plugins</pluginGroup>
    <pluginGroup>org.codehaus.mojo</pluginGroup>
    <pluginGroup>org.kie</pluginGroup>
  </pluginGroups>
</settings>
